modules = ["nodejs-20", "web", "nix", "python-3.10"]
run = "npm run build"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm install"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40590674
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m pip install --break-system-packages -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 3000
externalPort = 80
